<app-navbar1></app-navbar1>
<div class="container">
    <div class="row gt-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row gt-3 mt-4">
                <h3 class="text-center">Employee Login</h3>
                
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 ">
                        <label for="" class="form-label">Employee Id</label>
                        <input  type="text" class="form-control">
                   </div>
                   <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 ">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="" id="" class="form-control">
               </div>
               <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 text-center">
                <button class="btn btn-primary">LOGIN</button>
           </div>
           <a routerLink="/empreg" class="text-center">New Employee Registration</a>
            </div>
        </div>
    </div>
</div>


