<div class="container">
    <div class="row gt-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row gt-3 mt-4">
                <h3 class="text-center">Employee Registration</h3>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Employee Id</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">First Name</label>
                        <input  type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                         <label for="" class="form-label">Last Name</label>
                         <input  type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">House no</label>
                        <input  type="text" class="form-control">
                   </div>
                   <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">House Name</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Street Name</label>
                         <input type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Pin code</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">District</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">State</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Country</label>
                         <input type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Mobile no</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Email Id</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Parent Name</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Gender</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Highest Degree</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Year of Experience</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Date of Joining</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Username</label>
                         <input  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Password</label>
                        <input  type="password" name="" id="" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Confirm Password</label>
                         <input  type="password" name="" id="" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 text-center">
                          <button  class="btn btn-primary">REGISTER</button><br>
                          <a href="#" class="text-center">Back to Login</a>

                     </div>
                     
            </div>
        </div>
    </div>
</div>




