<div class="container">
    <div class="row gt-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row gt-3 mt-4">
                <h3 class="text-center">Employee Registration</h3>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Employee Id</label>
                        <input name="employeeid" [(ngModel)]="employeeid" type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">First Name</label>
                        <input name="fname" [(ngModel)]="fname" type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                         <label for="" class="form-label">Last Name</label>
                         <input name="lname" [(ngModel)]="lname" type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">House no</label>
                        <input name="houseno" [(ngModel)]="houseno" type="text" class="form-control">
                   </div>
                   <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">House Name</label>
                         <input name="hname" [(ngModel)]="hname" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Street Name</label>
                         <input name="streetname" [(ngModel)]="streetname" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Pin code</label>
                         <input name="pin" [(ngModel)]="pin" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">District</label>
                         <input name="district" [(ngModel)]="district" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">State</label>
                         <input name="state" [(ngModel)]="state" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Country</label>
                         <input name="country" [(ngModel)]="country" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Mobile no</label>
                         <input name="mobilenumber" [(ngModel)]="mobilenumber" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Email Id</label>
                         <input name="emailid" [(ngModel)]="emailid" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Parent Name</label>
                         <input name="pname" [(ngModel)]="pname" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Gender</label>
                         <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Highest Degree</label>
                         <input name="hdegree" [(ngModel)]="hdegree" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Year of Experience</label>
                         <input name="yoe" [(ngModel)]="yoe" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Date of Joining</label>
                         <input name="doj" [(ngModel)]="doj" type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Username</label>
                         <input name="username" [(ngModel)]="username"  type="text" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Password</label>
                        <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 gt-3 mt-4 ">
                        <label for="" class="form-label">Confirm Password</label>
                         <input name="cpassword" [(ngModel)]="cpassword" type="password" name="" id="" class="form-control">
                     </div>
                     <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 text-center">
                          <button (click)="readValues()" class="btn btn-primary">REGISTER</button><br>
                          <a routerLink="/employee" class="text-center">Back to Login</a>

                     </div>
                     
            </div>
        </div>
    </div>
</div>




